.matriz {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;

  button {
    font-weight: bold;
    outline: none;
  }

  .color-1 {
    color: blue;
  }
  .color-2 {
    color: green;
  }
  .color-3 {
    color: red;
  }
  .color-4 {
    color: purple;
  }
  .color-5 {
    color: brown;
  }
  .color-6 {
    color: black;
  }

  .alert-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 50px;
      color: white;
      padding: 10px;

      &.loser {
        background-color: red;
      }

      &.winner {
        background-color: green;
      }
    }
  }
}
